<footer role="contentinfo" class='post-footer'>
    <div class="inner">
        <div>
            <script async src="//pagead2.googlesyndication.com/pagead/js/adsbygoogle.js"></script>
<!-- gh-pages-buildIT-sahushi-footer -->
<ins class="adsbygoogle"
     style="display:block"
     data-ad-client="ca-pub-6686018124311308"
     data-ad-slot="2571420472"
     data-ad-format="auto"></ins>
<script>
(adsbygoogle = window.adsbygoogle || []).push({});
</script>
        </div>
        <div class="vcard">
          <a href="{{ site.baseurl }}/feed.xml" id="btn_feed" class="btn" title="Feed" target="_blank">
                <span aria-hidden="true" data-icon=")"></span>
                <strong>Feed</strong>
            </a>

            {% if site.logo %}
            <a href="{{ site.baseurl }}" class="photo circle">
              <span style="background-image: url('{{ site.baseurl }}/assets/images/{{ site.logo }}');">
                <img src="{{ site.baseurl }}/assets/images/{{ site.logo }}" alt="{{ site.title }}"/>
              </span>
            </a>
            {% endif %}

            <div class="details">
                <h4><a href="{{ site.url }}" class="url n">{{ site.title }}</a></h4>
                <a href="http://fatjoni.com" class="js-remove-domain-schema">Theme Develop Credits</a>
            </div>
        </div>
        <div id="user_bio">
            <div class="inner">
                {{ site.description }}
            </div>
        </div>
    </div>
</footer>
